version: 2
updates:
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
      time: "00:00"
      timezone: "Europe/Oslo"
    groups:
      gradle:
        patterns:
          - "*"