version: 2
updates:
  - package-ecosystem: gradle
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    groups:
      gradle:
        patterns:
          - "*"
