services:
  valkey:
    image: valkey/valkey:8.1-alpine
    container_name: valkey
    environment:
      - VALKEY_PASSWORD=password  # Set your desired password here
      - VALKEY_DISABLE_COMMANDS=FLUSHDB,FLUSHALL
    ports:
      - '6379:6379'
    volumes:
      - valkey_data:/bitnami/valkey/data

volumes:
  valkey_data:
    driver: local