<configuration debug="true">
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %green(%d{HH:mm:ss}) [%X{X-Correlation-ID}] %cyan([%-5.5t]) %boldCyan(%0.-5p) %yellow(%logger{36}) %cyan(:) %m%n
            </pattern>
        </encoder>
    </appender>

    <!--
     The "team-logs" and "default-json" appenders are intended to be mutually exclusive;
     no single log call should end up appending to both of them.
     To ensure this, "team-logs" will only accept log calls that use the "TEAM_LOGS" marker,
     while "default-json" will only accept calls *without* that marker.
    -->
    <appender name="team-logs" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>team-logs.nais-system:5170</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${HOSTNAME}","nais_container_name":"${NAIS_APP_NAME}"}
            </customFields>
            <includeContext>false</includeContext>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>TEAM_LOGS</marker>
            </evaluator>
            <OnMatch>ACCEPT</OnMatch>
            <OnMismatch>DENY</OnMismatch>
        </filter>
    </appender>

    <appender name="default-json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>TEAM_LOGS</marker>
            </evaluator>
            <OnMatch>DENY</OnMatch>
            <OnMismatch>ACCEPT</OnMismatch>
        </filter>
    </appender>

    <appender name="auditLogger" class="com.papertrailapp.logback.Syslog4jAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%m%n%xEx</pattern>
        </layout>

        <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
            <!-- remote system to log to -->
            <host>audit.nais</host>
            <!-- remote port to log to -->
            <port>6514</port>
            <!-- IMPORTANT: Set to your application name. -->
            <ident>sokos-oppdrag</ident>
            <!-- max log message length in bytes -->
            <maxMessageLength>128000</maxMessageLength>
        </syslogConfig>
    </appender>

    <if condition='isDefined("NAIS_CLUSTER_NAME")'>
        <then>
            <logger level="INFO" name="auditLogger" additivity="false">
                <appender-ref ref="${LOG_APPENDER:-auditLogger}"/>
            </logger>
        </then>
    </if>

    <if condition='isDefined("NAIS_CLUSTER_NAME")'>
        <then>
            <root level="INFO">
                <appender-ref ref="${LOG_APPENDER:-default-json}"/>
                <appender-ref ref="${LOG_APPENDER:-team-logs}"/>
            </root>
        </then>
        <else>
            <root level="INFO">
                <appender-ref ref="CONSOLE"/>
            </root>
        </else>
    </if>

    <logger name="no.nav.sokos.oppdrag.oppdragsinfo" level="INFO"/>

</configuration>