name: Deploy alerts
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'LICENCE'
      - 'Dockerfile'
      - 'CODEOWNERS'
      - '.gitignore'
      - '.github/workflows/build-pr.yaml'
      - '.github/workflows/security.yaml'
      - '.github/workflows/deploy.yaml'
      - '.github/workflows/manual-deploy-dev.yaml'
      - '.github/workflows/reviewdog.yaml'
      - '.github/dependabot.yaml'

permissions:
  contents: "write"
  id-token: "write"

jobs:
  deploy-dev:
    name: Deploy alerts to dev
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Deploy to dev
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-fss
          RESOURCE: .nais/alerts-dev.yaml

#  deploy-prod:
#    name: Deploy alerts to prod
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v4
#      - name: Deploy to prod
#        uses: nais/deploy/actions/deploy@v2
#        env:
#          CLUSTER: prod-fss
#          RESOURCE: .nais/alerts-prod.yaml