name: Build & test PR

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - 'LICENCE'
      - 'CODEOWNERS'
      - '.gitignore'
      - '.editorconfig'
      - 'setupLocalEnvironment.sh'
      - '.scripts'
      - 'dokumentasjon/**'
      - '.github/workflows/chainguard-digestabot.yaml'
      - '.github/workflows/codeql-trivy-scan.yaml'
      - '.github/workflows/deploy.yaml'
      - '.github/workflows/deploy-valkey.yaml'
      - '.github/workflows/manual-deploy.yaml'
      - '.nais/valkey/**'
      - '.github/dependabot.yaml'

jobs:
  build-and-test:
    permissions:
      contents: read
    uses: navikt/mob-gha-workflows/.github/workflows/gradle-build-test-app.yaml@main