name: Build/test PR

on:
  pull_request:
    paths-ignore:
      - '**.md'
      - 'LICENCE'
      - 'CODEOWNERS'
      - '.gitignore'
      - '.editorconfig'
      - 'setupLocalEnvironment.sh'
      - 'dokumentasjon/**'
      - '.github/workflows/deploy.yaml'
      - 'manual-deploy.yaml'
      - '.github/workflows/security.yaml'
      - '.github/workflows/alerts.yaml'
      - '.nais/alerts-dev.yaml'
      - '.nais/alerts-prod.yaml'
      - '.github/dependabot.yaml'

jobs:
  build-pr:
    name: Build and test
    uses: navikt/mob-gha-workflows/.github/workflows/gradle-build-pr.yaml@main
    with:
      gradle-task: ./gradlew clean build shadowJar


