name: Deploy Valkey

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'LICENCE'
      - 'CODEOWNERS'
      - '.gitignore'
      - '.editorconfig'
      - 'setupLocalEnvironment.sh'
      - '.scripts'
      - 'dokumentasjon/**'
      - '.github/workflows/build-pr.yaml'
      - '.github/workflows/codeql-trivy-scan.yaml'
      - '.github/workflows/deploy.yaml'
      - '.github/workflows/digestabot-automerge.yaml'
      - '.github/workflows/digestabot-update.yaml'
      - '.github/workflows/manual-deploy.yaml'
      - '.github/dependabot.yaml'

jobs:
  build-push-image:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
       - uses: actions/checkout@v4
         with:
          persist-credentials: false

       - name: Build Valkey-image and push to GAR
         id: docker-build-push
         uses: nais/docker-build-push@v0
         with:
           team: okonomi
           dockerfile: .nais/valkey/Dockerfile
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}

  deploy-dev-q1:
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      deployments: write
    needs: [ build-push-image ]
    name: Deploy valkey to dev-fss-q1
    uses: navikt/mob-gha-workflows/.github/workflows/nais-deploy.yaml@main
    with:
      cluster: dev-fss
      resource: .nais/valkey/valkey-q1.yaml
      image: ${{ needs.build-push-image.outputs.image }}

  deploy-dev-qx:
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      deployments: write
    needs: [ build-push-image, deploy-dev-q1 ]
    name: Deploy valkey to dev-fss-qx
    uses: navikt/mob-gha-workflows/.github/workflows/nais-deploy.yaml@main
    with:
      cluster: dev-fss
      resource: .nais/valkey/valkey-qx.yaml
      image: ${{ needs.build-push-image.outputs.image }}

  deploy-prod:
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      deployments: write
    needs: [ build-push-image, deploy-dev-q1, deploy-dev-qx ]
    name: Deploy valkey to prod-fss
    uses: navikt/mob-gha-workflows/.github/workflows/nais-deploy.yaml@main
    with:
      cluster: prod-fss
      resource: .nais/valkey/valkey-prod.yaml
      image: ${{ needs.build-push-image.outputs.image }}