name: Deploy application manually

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment to deploy to"
        required: true
        type: choice
        options:
          - q1
          - qx

env:
  TZ: Europe/Oslo

jobs:
  run-application-tests:
    permissions:
      contents: read
    name: Run application tests
    uses: navikt/mob-gha-workflows/.github/workflows/gradle-run-test.yaml@main
    with:
      java-version: '25'

  assemble-build-push-image-dev:
    permissions:
      contents: read
      id-token: write
    needs: [ run-application-tests ]
    name: Assemble application & build/push dev image
    uses: navikt/mob-gha-workflows/.github/workflows/gradle-assemble-build-push-image.yaml@main
    secrets: inherit
    with:
      image-suffix: 'dev'
      image-tag: 'snapshot'
      dockerfile: './.nais/dev/Dockerfile'
      java-version: '25'

  deploy-dev:
    permissions:
      contents: read
      id-token: write
      pull-requests: write
      deployments: write
    needs: [ assemble-build-push-image-dev ]
    name: Deploy to dev-fss-${{ inputs.environment }}
    uses: navikt/mob-gha-workflows/.github/workflows/nais-deploy.yaml@main
    with:
      cluster: dev-fss
      resource: .nais/dev/naiserator-${{ inputs.environment }}.yaml
      image: ${{ needs.assemble-build-push-image-dev.outputs.image }}